<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>168724998800-ld1mim3klpq9pj8rj1rfc0gjue36b86s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.168724998800-ld1mim3klpq9pj8rj1rfc0gjue36b86s</string>
	<key>API_KEY</key>
	<string>AIzaSyD4FA6I4j9_3YACD3siyNgsNZdwEOzb8j0</string>
	<key>GCM_SENDER_ID</key>
	<string>168724998800</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.CsellDemo</string>
	<key>PROJECT_ID</key>
	<string>cselldemo</string>
	<key>STORAGE_BUCKET</key>
	<string>cselldemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:168724998800:ios:bf235528a51ed65014c615</string>
	<key>DATABASE_URL</key>
	<string>https://cselldemo.firebaseio.com</string>
</dict>
</plist>